* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 80%;
  min-height: 100px;
  max-width: 1200px;
  margin: 50px auto;
  padding: 10px;
  transition: all 300ms;
}

section {
  min-height: 100px;
  width: calc(75% - 10px);
  transition: all 300ms;
  /*background-color: yellow;*/
}

aside {
  width: 25%;
  /*background-color: red;*/
}

section article {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: violet;*/
}

section article img {
  width: 41%;
  border-radius: 3px;
  transition: all 300ms;
}

section article .text {
  width: calc(59% - 10px);
  transition: all 300ms;
}

.text h2,
aside h2 {
  line-height: 17px;
  color: #148a8a;
  font-weight: bold;
  text-transform: uppercase;
}

.text p {
  line-height: 18px;
  color: #777;
}

aside h1,
section h1 {
  font-size: 16px;
  background-color: #8ac74eff;
  border: 1px solid #77ae44;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  text-transform: uppercase;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  font-weight: lighter;
  text-shadow: 1px 1px 1px #639f3e;
  margin-bottom: 10px;
}

aside article img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

aside article {
  margin-bottom: 26px;
}

@media screen and (max-width: 950px) {
  main {
    width: 94%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 610px) {
  main {
    width: 100%;
    margin: 0px auto;
  }
  aside {
    display: none;
  }

  section {
    width: 100%;
  }
}

@media screen and (max-width: 444px) {
  main section article {
    display: block;
  }

  section article img,
  section article .text {
    width: 100%;
  }
}
